html, body {
    overflow-x: hidden;
}

/* ============= BURGER MENU STYLE ============= */
.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #FAF8F1;
}

/* MENU SLIDE */
/* .side-menu {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 250px;
    height: 100vh;
    background: #226D4D;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: 0.3s ease-in-out;
    z-index: 99999;
}

.side-menu a {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: #FAF8F1;
    text-decoration: none;
}

.side-menu a:hover {
    font-weight: 700;
} */

/* ============= RESPONSIVE ============= */
@media(max-width: 900px) {

    /* Sembunyikan nav desktopp */
    .nav-links,
    .contact-btn {
        display: none !important;
    }

    /* Tampilkan burger */
    .burger {
        display: block !important;
    }

    /* Rapikan logo + burger */
    .navbar {
        justify-content: space-between;
        padding: 18px 25px;
    }

    /* geser slide menu ke kanan (aktif) */
    /* .side-menu.show {
        right: 0;
    } */

    /* card jadi column */
    .other-grid {
        flex-direction: column;
        align-items: center;
    }

    /* profile jadi vertical */
    .profile-container {
        flex-direction: column;
        text-align: center;
    }

    /* timeline ke tengah */
    .timeline {
        margin-left: 0 !important;
        width: 95%;
    }

    /* highlighted project jadi vertical */
    .highlighted-row.all-three {
        flex-direction: column;
    }
}

/* .side-menu {
    z-index: 99999;
} */

body {
    margin: 0;
    /* padding-top: 18px; */
    background-color: #FAF8F1;
    font-family: 'Work Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    background-color: #226D4D;
    padding: 18px 0;
    width: 100%;
    display: flex;
    z-index: 999999
}

.navbar-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #FAF8F1;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #FAF8F1;
    font-family: 'Work Sans', sans-serif;
    transition: 0.2s;
}

.nav-links a:hover {
    font-weight: 600;
}

/* CONTACT BUTTON */
.contact-btn {
    background-color: #FFCB65;
    padding: 10px 22px;
    border-radius: 40px;
    color: #226D4D;
    font-family: 'Work Sans', sans-serif;
    transition: 0.2s;
    text-decoration: none;
    font-size: 15px;
}

.contact-btn:hover {
    background-color: #ecbb5f;
    font-weight: 600;
}

/* HOME SECTION */
.home {
    text-align: center;
    margin-top: 200px;
    position: relative;
    min-height: 70vh;
}

.home-title {
    font-family: 'Space Grotesk', sans-serif;
    padding-top: 100px;
    font-weight: 700;
    font-size: 40px;
    color: #333;
}

/* DECOR IMAGES */
.star-left {
    position: absolute;
    left: 150px;
    top: 120px;
    width: 95px;
}

.star-center {
    position: absolute;
    bottom: 170px;
    left: 40%;
    transform: translateX(-50%);
    width: 30px;
}

.star-center2 {
    position: absolute;
    top: 10px;
    left: 75%;
    transform: translateX(-50%);
    width: 30px;
}

.petir {
    position: absolute;
    right: 150px;
    bottom: 100px;
    width: 100px;
}

.cloud {
    position: absolute;
    top: -20px;
    right: 40px;
    width: 260px;
}

.cloud{
    margin-top: -93px; 
    margin-right: -40px;
}

/* MY PROFILE SECTION */
.profile {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 80px;
    position: relative;
    padding-bottom: 140px;
}

.profile-left {
    position: relative;
    /* margin-left: -110px; */
}

.cloud-profile {
    width: 300px;
    position: absolute;
    top: -40px;
    left: -20px;
    z-index: 1;
}

.petir-profile {
    width: 90px;
    position: absolute;
    left: -40px;
    top: -70px;
    z-index: 2;
}

.photo {
    margin-top: -100px;
    margin-left: -100px;
    width: 600px;
    position: relative;
    z-index: 3;
    border-radius: 10px;
}

.name-tag {
    background-color: #226D4D;
    color: #FAF8F1;
    padding: 12px 30px;
    border-radius: 4px;
    width: fit-content;
    margin: 15px auto 0 auto;
    text-align: center;
    font-size: 18px;
}

.profile-right {
    margin-left: -100px;
    width: 800px;
    font-family: 'Work Sans', sans-serif;
}

.desc {
    font-size: 16px;
    margin-top: 75px;
    line-height: 1.6;
}

.desc2 {
    font-size: 16px;
    margin-top: 75px;
    line-height: 1.6;
    margin-left: 200px;
    margin-right: 200px;
}

.descbold{
    font-weight: 500; 
    color: #185038;
    line-height: 30px;
}

.skills-title {
    margin-top: 25px;
    font-size: 17px;
}

.skills-list {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background-color: #FFCB65;
    padding: 8px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-family: 'Work Sans', sans-serif;
    transition: 0.2s;
}

.skill:hover {
    /* font-weight: 600; */
    background-color: #e6b454;
}

/* BOTTOM RIGHT STARS */
.star-big {
    position: absolute;
    right: 150px;
    bottom: 20px;
    width: 85px;
}

.star-small {
    position: absolute;
    right: 105px;
    bottom: 40px;
    width: 35px;
}

/* PORTFOLIO SECTION */
.portfolio {
    margin-top: 150px;
    position: relative;
    text-align: center;
}

/* STAR TOP */
.star-top {
    width: 30px;
    position: absolute;
    left: 170px;
    top: -20px;
}

/* TITLE */
.portfolio-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 34px;
    margin-bottom: 50px;
}

.portfolio-title .medium {
    font-weight: 500;
}

.portfolio-title .bold {
    font-weight: 700;
    color: #226D4D;
}

/* HIGHLIGHT IMAGES */
.highlighted-wrapper {
    position: relative;
}

.highlighted-row {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.web-img {
    width: 600px;
    border-radius: 10px;
    margin-top: -40px;
}

.highlight-img {
    width: 600px;
    border-radius: 10px;
}

.phone-img {
    width: 200px;
    margin-top: 20px;
}

.lower {
    margin-top: 40px;
}

/* TEXT INFORMATION */
.text-info {
    margin-top: 40px;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    text-align: left;
    width: 250px;
    margin-left: auto;
    margin-right: 200px;
}

/* DECORATIONS */
.cloud-right {
    position: absolute;
    right: -30px;
    top: -500px;
    width: 300px;
}

.petir-right {
    position: absolute;
    right: 140px;
    top: 380px;
    width: 80px;
}

.star-small2 {
    position: absolute;
    right: 180px;
    top: 60px;
    width: 25px;
}

.star-big2 {
    position: absolute;
    right: 120px;
    top: 750px;
    width: 70px;
}

.other-grid {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* WRAPPER CARD (now clickable) */
.other-card {
    width: 300px;
    text-align: left;
    padding: 18px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
    text-decoration: none;  
    color: #000;           
    display: block;
}

/* HOVER EFFECT */
.other-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

/* IMAGE */
.other-card img {
    width: 100%;
    border-radius: 12px;
}

/* TITLE */
.other-card h3 {
    margin-top: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

/* PARAGRAPH */
.other-card p {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    margin-top: 8px;
    line-height: 1.5;
}

/* BUTTON WRAPPER */
/* .portfolio-btn-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
} */

/* BUTTON */
.portfolio-btn {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 14px 36px;
    border-radius: 30px;
    background-color: #FFCB65;     
    color: #226D4D;                
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 6px 15px rgba(0,0,0,0.12);
}

/* HOVER EFFECT */
.portfolio-btn:hover {
    transform: translateY(-4px);
    background-color: #f3b94f; 
}

.portfolio-btn::after {
    content: " →";
    transition: 0.3s ease;
}

.portfolio-btn:hover::after {
    margin-left: 6px;
}

.cv-download {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #555;
    margin-top: 30px;
}

.cv-download a {
    color: #226D4D;
    font-weight: 600;
    text-decoration: none;
}

.cv-download a:hover {
    text-decoration: underline;
}



/* EXPERIENCE SECTION */
.experience-section {
    background-color: #FFCB65;
    padding: 70px 0;
    position: relative;
    margin-top: 5%;
}

.exp-title {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #226D4D;
    margin-bottom: 60px;
}

.exp-title span {
    color: #114B33;
}

.cloud-left {
    position: absolute;
    top: 50px;
    left: 0;
    width: 180px;
}

.petir-right {
    /* position: absolute; */
    bottom: 40px;
    right: 40px;
    width: 80px;
}

/* .timeline {
    width: 80%;
    margin-left: 18%;
} */

/* .timeline {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center; 
} */

.timeline {
    width: 80%;
    /* margin: 0 auto; */
    margin-left: 18%;
    /* position: relative; */
}

/* GARIS DI TENGAH */
.timeline::before {
    content: "";
    position: absolute;
    left: 693px;
    top: 240px;              /* biar ga nempel judul */
    bottom: 160px;           /* ada jarak bawah */
    width: 1px;             /* GARIS TIPIS */
    background-color: #226D4D;
    transform: translateX(-50%);
    /* z-index: 0; */
}


.exp-item {
    display: grid;
    grid-template-columns: 1fr 80px 2fr;
    align-items: center;
    margin-bottom: 60px;
}

.exp-left {
    font-family: 'Work Sans', sans-serif;
    color: #226D4D;
    font-weight: 600;
    text-align: right;
    padding-right: 20px;
}

/* .exp-center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.exp-center {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}


/* .check-box {
    width: 45px;
    height: 45px;
    background: white;
    border: 3px solid #226D4D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #226D4D;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
    z-index: 2;
} */

.check-box {
    width: 45px;
    height: 45px;
    background: white;
    border: 3px solid #226D4D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #226D4D;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.15);
}


.line {
    width: 4px;
    background: #226D4D;
    flex-grow: 1;
    margin-top: -5px;
}

.exp-right h3 {
    font-family: 'Work Sans', sans-serif;
    color: #226D4D;
    font-size: 20px;
    margin: 0;
}

.exp-right p {
    font-family: 'Work Sans', sans-serif;
    color: #555;
    margin: 3px 0 0 0;
    font-size: 14px;
}


.exp-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #0A6635;
    margin-bottom: 40px;
}

.exp-title span {
    font-weight: 700;
}

/* Wrapper agar gambar tidak melebar */
.exp-img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Batasi ukuran gambar */
.exp-full-img {
    width: 1500px;
    height: auto;
}

.cloud-left-contact {
    position: absolute;
    /* top: 50px; */
    top: 3370px;
    left: 0;
    width: 415px;
}

#contact {
    background: #F4F3EA;
    padding: 70px 0;
}

.contact-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
}

.contact-title span {
    font-weight: 700;
}

.contact-left p {
    font-family: 'Work Sans';
    color: #555;
    margin-bottom: 20px;
}

.contact-icons img {
    width: 30px;
    margin-right: 12px;
}

/* FORM */
#msgForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

#msgForm input,
#msgForm textarea {
    border: 1px solid #888;
    padding: 6px;
    border-radius: 4px;
    font-family: 'Work Sans';
}

#submitBtn {
    margin-top: 10px;
    padding: 8px;
    background: #F7B733;
    border: 1px solid #333;
    cursor: pointer;
}

/* OUTPUT BOX */
#outputBox {
    width: 350px;
    height: 240px;
    border: 1px solid #aaa;
    margin-top: 20px;
    background: white;
    padding: 10px;
    font-family: 'Work Sans';
    white-space: pre-line;
}

/* ===== MOBILE NAV MENU ===== */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #226D4D;
    width: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 9999;
}

.mobile-menu a {
    padding: 18px;
    text-align: center;
    color: #FAF8F1;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.mobile-menu a:hover {
    background-color: #1c5a40;
}

/* tampil hanya di HP */
@media (max-width: 900px) {
    .mobile-menu.show {
        display: flex;
    }
}

/* ===== MY PROFILE - MOBILE VIEW ===== */
@media (max-width: 900px) {

    .home-title{
        font-size: 24px;
    }

    .profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .profile-left {
        margin-top: -100px;
    }

    .photo {
        margin: 0;
        width: 450px;
        /* max-width: 320px; */
    }

    .profile-right {
        margin: 0;
        margin-top: -230px;
        width: 90%;
    }

    .desc{
        font-size: 14px;
    }

    .desc2 {
        margin-top: 10px;
        font-size: 14px;
    }

    .skills-title {
        margin-top: 20px;
        font-size: 14px;
    }
}

/* ===== ALL DECOR TRANSPARENT - MOBILE ===== */
@media (max-width: 900px) {

    /* SEMUA AWAN */
    .cloud,
    .cloud-profile,
    .cloud-right,
    .cloud-left,
    .cloud-left-contact {
        opacity: 0.25;
        z-index: 0;
    }

    .cloud{
        margin-top: -110px;
    }

    .cloud-right{
        margin-top: 1600px;
    }

    /* SEMUA BINTANG */
    .star-center,
    .star-center2,
    .star-left,
    .star-big,
    .star-small,
    .star-big2,
    .star-small2,
    .star-top {
        opacity: 0.25;
        z-index: 0;
    }

    .star-big,
    .star-small{
        margin-bottom: -245px;
        margin-right: -70px;
    }

    .star-big{
        width: 60px;
    }

    .star-big2{
        margin-right: -80px;
        margin-top: 50px;
    }

    .star-top{
        margin-top: -40px;
        margin-left: -130px;
    }

    .star-center2{
        display: none;
    }

    .star-left{
        margin-top: -200px;
        margin-left: -100px;
    }

    .star-center{
        margin-left: -100px;
    }

    .petir{
        margin-right: -100px;
    }

    .petir-right{
        transform: scaleX(-1);
        margin-right: -10px;
        margin-top: 150px;
    }

    /* SEMUA PETIR */
    .petir,
    .petir-profile,
    .petir-right {
        opacity: 0.25;
        z-index: 0;
    }

    /* PASTIKAN KONTEN DI ATAS */
    section,
    .profile-left,
    .profile-right,
    .portfolio,
    .contact-container,
    .experience-section {
        position: relative;
        z-index: 2;
    }
}


/* ===== PORTFOLIO HIGHLIGHTED - MOBILE ===== */
@media (max-width: 900px) {

    /* CONTAINER */
    .highlighted-row.all-three {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        flex-wrap: wrap;
    }

    /* MOCKUP */
    .web-img {
        width: 90%;
        max-width: 360px;
        order: 1;
    }

    .portfolio .portfolio-title {
        font-size: 24px;
    }

    .portfolio .other-sub {
        font-size: 14px;
        padding-bottom: 40px;
    }



    /* DESKRIPSI */
    .portfolio > .desc2 {
        order: 2;
        text-align: center;
        width: 90%;
        padding-top: 30px;
        margin: 15px auto 30px auto;
    }

    /* YBB */
    img.highlight-img {
        width: 90%;
        max-width: 360px;
        order: 3;
    }

    /* METALEARN & RUMAH — KUNCI DI SINI */
    img.phone-img[src*="metalearn"],
    img.phone-img[src*="rumah"] {
        order: 4;
        flex: 0 0 30%;
        max-width: 30%;
    }

    /* BIKIN MEREKA SATU BARIS */
    .highlighted-row.all-three {
        flex-direction: column;
    }

    /* KHUSUS BARIS TERAKHIR */
    img.phone-img[src*="metalearn"],
    img.phone-img[src*="rumah"] {
        display: inline-flex;
        justify-content: center;
        margin: 0 10px;
    }

    /* CENTER */
    .highlighted-wrapper,
    .highlighted-row {
        text-align: center;
    }
}

/* ===== PORTFOLIO OTHER PROJECT - MOBILE ===== */
@media (max-width: 900px) {

    .portfolio .other-grid{
        margin-top: -20px;
    }

    .portfolio .other-card h3 {
        font-size: 16px;
    }

    .portfolio .other-card p {
        font-size: 14px;
        margin-top: -15px;
    }

    .portfolio .other-card {
        width: 60%;
        /* height: 350px; */
    }

    /* BUTTON MY DESIGN PORTFOLIO */
    .portfolio-btn {
        font-size: 14px;        
        border-radius: 20px;
    }

    .portfolio-btn-wrapper {
        margin-top: 30px;
    }

    /* DOWNLOAD CV TEXT */
    .cv-download {
        font-size: 14px;
        margin-top: 20px;
    }

    .cv-download a {
        font-size: 14px;
    }

}

/* ===== EXPERIENCE SECTION - MOBILE (FINAL FIX) ===== */
@media (max-width: 900px){

    /* SECTION TETAP NORMAL (JANGAN FLEX) */
    .experience-section {
        text-align: center;
        height: 630px;
    }

    /* JUDUL DI TENGAH */
    .exp-title {
        text-align: center;
        margin-bottom: 30px;
        font-size: 20px;
        margin-top: -30px;
    }

    /* TIMELINE DITENGAHKAN SEBAGAI BLOK */
    .timeline {
        width: fit-content;
        margin-right: 50px;
        margin-top: 40px;
    }

    /* ITEM TETAP 3 KOLOM */
    .exp-item {
        grid-template-columns: auto 60px auto;
        align-items: start;
        column-gap: 15px;
    }

    /* TANGGAL */
    .exp-left {
        text-align: right;
        white-space: nowrap;
        font-size: 12px;
        margin-left: 50px;
    }

    /* CHECK */
    .exp-center {
        justify-content: center;
        width: 60px;
        margin-left: -30px;
        margin-top: -10%;
    }

    /* DESKRIPSI */
    .exp-right {
        text-align: left;
        /* max-width: 230px; */
        margin-left: -35px;

    }

    .exp-right h3 {
        font-size: 16px;
    }

    .exp-right p {
        font-size: 12px;
    }

    /* GARIS TENGAH DIMATIKAN */
    .timeline::before {
        display: none;
    }

    .check-box{

    }
}

/* ===== CONTACT SECTION - MOBILE ONLY ===== */
@media (max-width: 900px) {

    #contact{
        height: 70px;
    }

    /* SEMBUNYIKAN FORM & OUTPUT */
    .contact-right,
    #outputBox {
        display: none;
    }

    /* CONTAINER NORMAL */
    .contact-container {
        justify-content: flex-start;
        height: 50%;

    }

    /* CONTACT ME DI KIRI */
    .contact-left {
        text-align: left;
        width: 100%;
        margin-left: 50px;
        margin-top: -35px;
    }

    .contact-title{
        font-size: 20px;
    }

    .contact-left p{
        font-size: 12px;
    }

    .contact-icons {
        justify-content: flex-start;
    }
}

