html, body {
    overflow-x: hidden;
}

/* ============= BURGER MENU STYLE ============= */
.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #FAF8F1;
}

/* ============= RESPONSIVE ============= */
@media(max-width: 900px) {

    /* Sembunyikan nav desktopp */
    .nav-links,
    .contact-btn {
        display: none !important;
    }

    /* Tampilkan burger */
    .burger {
        display: block !important;
    }

    /* Rapikan logo + burger */
    .navbar {
        justify-content: space-between;
        padding: 18px 25px;
    }

    /* geser slide menu ke kanan (aktif) */
    /* .side-menu.show {
        right: 0;
    } */

    /* card jadi column */
    .other-grid {
        flex-direction: column;
        align-items: center;
    }

    /* profile jadi vertical */
    .profile-container {
        flex-direction: column;
        text-align: center;
    }

    /* timeline ke tengah */
    .timeline {
        margin-left: 0 !important;
        width: 95%;
    }

    /* highlighted project jadi vertical */
    .highlighted-row.all-three {
        flex-direction: column;
    }
}

/* .side-menu {
    z-index: 99999;
} */

body {
    margin: 0;
    /* padding-top: 18px; */
    background-color: #FAF8F1;
    font-family: 'Work Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    background-color: #226D4D;
    padding: 18px 0;
    width: 100%;
    display: flex;
    z-index: 999999
}

.navbar-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #FAF8F1;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #FAF8F1;
    font-family: 'Work Sans', sans-serif;
    transition: 0.2s;
}

.nav-links a:hover {
    font-weight: 600;
}

/* ================= PROJECT DESIGN ================= */
.project-design {
    padding: 120px 0 80px;
    background-color: #FAF8F1;
}

.project-title {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 36px;
    color: #226D4D;
    margin-bottom: 50px;
}

.project-title span {
    font-weight: 700;
}

/* ================= MASKOT CARD ================= */
.maskot-card {
    max-width: 1100px;
    margin: auto;
    border: 3px solid #FFCB65;
    border-radius: 20px;
    padding: 40px;
}

.maskot-title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #333;
}

.maskot-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: -15px;
}

/* IMAGE */
.maskot-image img {
    width: 450px;
    justify-content: center;
    transform: translateY(-15px);
}
.maskot-text img {
    width: 450px;
    /* justify-content: center; */
}

.maskot-sub {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-top: -20px;
    margin-bottom: 40px;
}

.maskot-desk {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin: -20px 60px 10px 60px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.7;
    font-size: 15px;
}

/* TEXT */
.maskot-text {
    font-family: 'Work Sans', sans-serif;
    color: #555;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 30px;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
    .maskot-content {
        flex-direction: column;
        text-align: center;
    }

    .maskot-image img {
        width: 220px;
    }
    .maskot-text img {
        width: 220px;
    }
}
/* ================= MASKOT CARD ================= */
.ig-card {
    max-width: 1100px;
    margin: auto;
    border: 3px solid #FFCB65;
    border-radius: 20px;
    padding: 40px;
}

.ig-title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #333;
}

.ig-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: -30px;
}

/* IMAGE */
.ig-image img {
    width: 450px;
    justify-content: center;
    /* transform: translateY(-15px); */
}
.ig-img2 img {
    width: 450px;
    /* justify-content: center; */
}

.ig-sub {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-top: -20px;
    margin-bottom: 40px;
}

.ig-desk {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin: -20px 60px 10px 60px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.7;
    font-size: 15px;
}


/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
    .ig-content {
        flex-direction: column;
        text-align: center;
    }

    .ig-image img {
        width: 300px;
    }
    .ig-img2 img {
        width: 300px;
        transform: translateY(-30px);
    }

    .ig-title{
        font-size: 16px;
    }

    .ig-sub, 
    .ig-desk{
        font-size: 14px;
    }

    .ig-desk {
        text-align: center; 
        margin: -20px -30px 20px -30px;     
        line-height: 1.6;
    }

    .ig-title,
    .ig-sub {
        text-align: center;
    }

    .ig-card {
        padding-bottom: 20px;
    }
    
}

/* POSTER SECTION */
.poster-section {
    padding: 40px;
    border: 3px solid #FFCB65;
    border-radius: 20px;
    max-width: 1100px;
    margin: auto;
    margin-top: -40px;
}

.poster-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
}

.poster-sub {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-top: -20px;
    margin-bottom: 40px;
}

.poster-sub2 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    /* margin-top: -35px; */
    margin-bottom: -20px;
    display: none;
}

/* SLIDER */
.poster-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.poster-container {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.poster-container img {
    width: 190px;
    height: 280px;
    flex-shrink: 0;
}

/* ARROWS */
.poster-arrow {
    background: #226D4D;
    color: white;
    border: none;
    width: 55px;
    border-radius: 50%;
    font-size: 26px;
    cursor: pointer;
}

.poster-arrow.left {
    margin-right: 10px;
    display: none; /* awalnya disembunyikan */
}


.poster-arrow.right {
    margin-left: 10px;   
}

/* VIDEO SECTION */
.video-section {
    padding: 50px;
    border: 3px solid #FFCB65;
    border-radius: 24px;
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
}

/* WRAPPER KIRI KANAN */
.video-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* VIDEO GRID (KIRI) */
.video-grid {
    display: flex;
    gap: 30px;
    margin-left: 50px;
}

.video-card {
    width: 200px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.video-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

.video-card img {
    width: 100%;
    border-radius: 14px;
}

/* TEXT KANAN */
.video-text {
    position: relative;
    /* max-width: 300px; */
    margin-right: 100px;
    margin-bottom: 80px;
}

.video-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 5px;
}

.video-sub {
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-bottom: 18px;
}

.video-desc {
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    line-height: 1.6;
}

/* PETIR */
.video-petir {
    position: absolute;
    bottom: -80px;
    right: -90px;
    width: 70px;
}

/* PRODUCT SECTION */
.product-section {
    position: relative;
    padding: 50px 40px;
    border: 3px solid #FFCB65;
    border-radius: 24px;
    max-width: 1100px;
    margin: 60px auto;
    background: #FAF8F1;
    overflow: hidden;
}

/* TITLE */
.product-title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: -20px;
}

.product-sub {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-top: -8px;
    margin-bottom: 40px;
}

/* ROW */
.product-row {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}

/* TEXT */
.product-text {
    flex: 1;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}

.product-heading {
    font-weight: 700;
    margin-bottom: 10px;
}

.product-row .product-text p{
    max-width: 500px;
}

/* IMAGES */
.product-images {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pack-img {
    width: 200px;
    margin-right: 60px;
}

.card-img {
    width: 300px;
}

/* TODO */
.todo-wrapper {
    text-align: center;
}

.todo-img {
    width: 90%;
    margin-bottom: 20px;
}

.todo-desc {
    font-family: 'Work Sans', sans-serif;
    max-width: 700px;
    margin: auto;
    color: #333;
    line-height: 1.6;
}

/* STARS (DECOR, LAYER BAWAH) */
.star {
    position: absolute;
    width: 22px;
    z-index: 0;
    pointer-events: none;
}

.star-1 { top: 160px; left: 50%; }
.star-2 { top: 460px; left: 45%; width: 50px;}
.star-3 { top: 620px; left: 52%; }

/* PASTIKAN KONTEN DI ATAS */
.product-section *:not(.star) {
    position: relative;
    z-index: 2;
}



/* CONTACT BUTTON */
.contact-btn {
    background-color: #FFCB65;
    padding: 10px 22px;
    border-radius: 40px;
    color: #226D4D;
    font-family: 'Work Sans', sans-serif;
    transition: 0.2s;
    text-decoration: none;
    font-size: 15px;
}

.contact-btn:hover {
    background-color: #ecbb5f;
    font-weight: 600;
}

#contact {
    background: #F4F3EA;
    padding: 70px 0;
}

.contact-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.contact-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
}

.contact-title span {
    font-weight: 700;
}

.contact-left p {
    font-family: 'Work Sans';
    color: #555;
    margin-bottom: 20px;
}

.contact-icons img {
    width: 30px;
    margin-right: 12px;
}

.footer {
    text-align: center;
    padding: 20px 16px 30px;
    background: #F4F3EA;
}

.footer-line {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
}

.footer-text {
    font-size: 13px;
    color: #555;
    font-family: 'Work Sans', sans-serif;
}

/* ===== MOBILE NAV MENU ===== */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #226D4D;
    width: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 9999;
}

.mobile-menu a {
    padding: 18px;
    text-align: center;
    color: #FAF8F1;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.mobile-menu a:hover {
    background-color: #1c5a40;
}

/* tampil hanya di HP */
@media (max-width: 700px) {
    .mobile-menu.show {
        display: flex;
    }

    .project-design {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -20px;
    }

    .project-title {
        font-size: 24px;
    }

    .maskot-card{
        height: 450px;
        margin-top: -30px;
    }

    .maskot-title{
        font-size: 16px;
    }

    .maskot-content img{
        width: 250px;
        margin-left: 10px;
    }

    .maskot-text{
        font-size: 14px;
        margin-top: -40px;
    }

    .poster-section{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -60px;
    }

    .poster-title{
        font-size: 16px;
        
    }

    .poster-sub{
        font-size: 14px;
    }

    .poster-sub2 {
        font-size: 14px;
        display: block;
    }
    
    .poster-container {
        margin-left: -20px;
        margin-right: -20px;
    }

    .poster-arrow {
        display: none;
    }

    /* MOBILE SWIPE SUPPORT */
    .poster-container {
        overflow-x: auto;              /* ganti dari hidden */
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .poster-container img {
        scroll-snap-align: start;
    }

    .poster-container::-webkit-scrollbar {
        display: none;
    }

    .poster-container {
        scrollbar-width: none;
    }

    .video-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-section{        
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
        height: 300px;
    }

    .video-text {
        order: -1;
        text-align: center;
        margin-top: -40px;
        transform: translateX(50px);
    }

    /* JUDUL */
    .video-title {
        font-size: 16px;
        white-space: nowrap;
    }

    /* SUBTITLE */
    .video-sub {
        font-size: 14px;
        margin-top: 6px;
        margin-bottom: 20px;
    }

    /* DESKRIPSI */
    .video-desc {
        font-size: 14px;
    }

    .video-petir{
        display: none;
    }

    .video-grid {
        width: 350px;
        gap: 10px;
        transform: translateX(-25px);
        margin-top: -120px;
    }

    /* SECTION */
    .product-section {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
        height: 1230px;
    }

    /* TITLE */
    .product-title {
        font-size: 18px;
    }

    .product-sub {
        font-size: 14px;
        margin-bottom: 30px;
    }

    /* ROW JADI VERTICAL */
    .product-row {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: -20px;
    }

    .product-text{
        transform: translateY(-20px);
    }

    /* GAMBAR */
    .product-images {
        gap: 10px;
        transform: translateY(-30px);
    }

    .pack-img,
    .card-img {
        width: 160px;
    }
    
    .pack-img{
        transform: translateX(35px);
    }
    
    .card-img{
        transform: translateX(-35px);
    }


    /* TEKS */
    

    .product-heading {
        font-size: 16px;
        /* margin-bottom: 10px; */
    }

    .product-text p {
        font-size: 14px;
        line-height: 1.6;
        transform: translateY(-10px);
    }

    /* TO DO */
    .todo-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .todo-img {
        width: 300px;
        order: 1;
        transform: translateY(-20px);
    }

    .todo-desc {
        max-width: 320px;
        font-size: 14px;
        line-height: 1.6;
        transform: translateY(-20px);
    }

    /* HIDE STAR DI MOBILE (BIAR BERSIH) */
    .star {
        display: none;
    }

    #contact{
        height: 70px;
        padding-top: 50px;
        padding-bottom: 90px;
    }

    /* SEMBUNYIKAN FORM & OUTPUT */
    .contact-right,
    #outputBox {
        display: none;
    }

    /* CONTAINER NORMAL */
    .contact-container {
        justify-content: flex-start;
        height: 50%;

    }

    /* CONTACT ME DI KIRI */
    .contact-left {
        text-align: left;
        width: 100%;
        margin-left: 50px;
        margin-top: -35px;
    }

    .contact-title{
        font-size: 20px;
    }

    .contact-left p{
        font-size: 12px;
    }

    .contact-icons {
        justify-content: flex-start;
    }

    .footer {
        margin-top: -60px;
        height: 30px;
    }
}