html, body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ============= BURGER MENU STYLE ============= */
.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #FAF8F1;
}

.logo {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 22px;    
}

.logo a {      
    color: #FAF8F1;
    text-decoration: none; 
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 14px;
}

/* DOWNLOAD BUTTON */
.dwn-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #FFCB65;
    padding: 10px 22px;
    border-radius: 40px;
    color: #226D4D;
    font-family: 'Work Sans', sans-serif;
    transition: 0.2s;
    text-decoration: none;
    font-size: 15px;
}

.dwn-btn-nav {
    display: none;
}

.dwn-btn:hover {
    background-color: #ecbb5f;
    font-weight: 600;
}

/* SWEETALERT CUSTOM */
.custom-swal {
    font-family: 'Work Sans', sans-serif;
    border-radius: 20px;
    border: 2px solid #ecbb5f;
}

.swal-confirm-btn {
    background-color: #ecbb5f;
    color: #1b563e;
    padding: 10px 24px;
    border: 2px solid #ecbb5f;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
    margin-left: 30px;
}

.swal-confirm-btn:hover {
    background-color: #e5aa3d;
    color: #FAF8F1;
    cursor: pointer;
}

.swal-cancel-btn {
    background-color: transparent;
    color: #226D4D;
    border: 2px solid #226D4D;
    padding: 10px 24px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
}

.swal-cancel-btn:hover {
    background-color: #226D4D;
    color: #FAF8F1;
    cursor: pointer;
}

/* foto di SweetAlert */
.swal-photo {
    animation: photoFlipIn 0.6s ease-out;
    transform-style: preserve-3d;
}

@keyframes photoFlipIn {
    0% {
        transform: rotateY(90deg) scale(0.7);
        opacity: 0;
    }
    70% {
        transform: rotateY(-5deg) scale(1.08);
    }
    100% {
        transform: rotateY(0deg) scale(1);
        opacity: 1;
    }
}

@media(max-width: 900px) {
    .dwn-btn {
        display: none !important;
    }

    .dwn-btn-nav {
        display: block;
        color: #FAF8F1;
        font-size: 23px;
        margin-top: 3px;
    }

    /* tombol cv */
    .custom-swal {
        width: 80%;
        font-family: 'Work Sans', sans-serif;
        border-radius: 20px;
        border: 2px solid #ecbb5f;
    }

    .swal-noworries .swal2-title {
        font-size: 20px;
    }

    .swal-confirm-btn {
        background-color: #ecbb5f;
        color: #1b563e;
        padding: 8px 18px;
        border: 2px solid #ecbb5f;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 500;
        transition: 0.3s ease;
        margin-left: 10px;
    }

    .swal-cancel-btn {
        background-color: transparent;
        color: #226D4D;
        border: 2px solid #ecbb5f;
        padding: 8px 18px;
        border-radius: 30px;
        font-size: 14px;
        font-weight: 500;
        transition: 0.3s ease;
    }

    /* .custom-swal .swal2-title {
        font-size: 16px;
    } */

    .custom-swal .swal2-html-container {
        font-size: 14px;
    }

    .swal-photo {
        animation: photoFlipIn 0.6s ease-out;
        transform-style: preserve-3d;
    }

    @keyframes photoFlipIn {
        0% {
            transform: rotateY(90deg) scale(0.7);
            opacity: 0;
        }
        70% {
            transform: rotateY(-5deg) scale(1.08);
        }
        100% {
            transform: rotateY(0deg) scale(1);
            opacity: 1;
        }
    }
}

/* ============= RESPONSIVE ============= */
@media(max-width: 900px) {

    /* Sembunyikan nav desktopp */
    .nav-links,
    .contact-btn {
        display: none !important;
    }

    /* Tampilkan burger */
    .burger {
        display: block !important;
    }

    /* Rapikan logo + burger */
    .navbar {
        justify-content: space-between;
        padding: 18px 25px;
    }

    /* geser slide menu ke kanan (aktif) */
    /* .side-menu.show {
        right: 0;
    } */

    /* card jadi column */
    .other-grid {
        flex-direction: column;
        align-items: center;
    }

    /* profile jadi vertical */
    .profile-container {
        flex-direction: column;
        text-align: center;
    }

    /* timeline ke tengah */
    .timeline {
        margin-left: 0 !important;
        width: 95%;
    }

    /* highlighted project jadi vertical */
    .highlighted-row.all-three {
        flex-direction: column;
    }
}

body {
    margin: 0;
    /* padding-top: 18px; */
    background-color: #FAF8F1;
    font-family: 'Work Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    background-color: #226D4D;
    padding: 18px 0;
    width: 100%;
    display: flex;
    z-index: 999999
}

.navbar-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #FAF8F1;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #FAF8F1;
    font-family: 'Work Sans', sans-serif;
}

.nav-links a:hover {
    font-weight: 600;
}

/* ================= PROJECT DESIGN ================= */
.breadcrumb {
    max-width: 1180px;
    margin: 0 auto 12px;
    padding: 0 0;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    color: #777;

    display: flex;
    align-items: center;
    gap: 8px;
}

.breadcrumb a {
    color: #999;
    text-decoration: none;
    font-weight: 500;
}

.breadcrumb a:hover {
    color: #226D4D;
}

.breadcrumb i {
    font-size: 12px;
    color: #999;
}

.breadcrumb span {
    color: #226D4D;
}


.project-header {
    position: relative;
    max-width: 1180px;
    margin: 0 auto 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.project-design {
    padding: 120px 0 80px;
    background-color: #FAF8F1;
}

.project-title {
    transform: none; /* buang translateX */
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    color: #226D4D;
}

.project-title span {
    color: #333;
    font-weight: 700;
}

.back-btn {
    position: static; 
    transform: none;
    margin-right: 20px;

    font-size: 28px;
    color: #226D4D;
    text-decoration: none;
}

.project-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.desk-header {
    max-width: 450px;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    color: #555;
    font-size: 14px;
    line-height: 1.5;
}

.desk-header span {
    font-weight: 550;
    color: #226D4D;
}


@media(max-width: 900px){
    .breadcrumb{
        font-size: 14px;
        margin-left: 10px; 
    }

    .back-btn{
        display: none;
    }
}

/* ================= MASKOT CARD ================= */
.maskot-card {
    max-width: 1100px;
    margin: auto;
    border: 3px solid #FFCB65;
    border-radius: 20px;
    padding: 40px;
}

.maskot-title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #555;
}

.maskot-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: -15px;
}

/* IMAGE */
.maskot-image img {
    width: 450px;
    justify-content: center;
    margin-top: -15px;
    filter: blur(10px);
    transform: scale(1.05);
}

.maskot-image img.loaded {
    filter: blur(0);
    transform: scale(1);
}
.maskot-text img {
    width: 450px;
    /* justify-content: center; */
}

.maskot-sub {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-top: -20px;
    margin-bottom: 40px;
}

.maskot-desk {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin: -20px 60px 10px 60px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.7;
    font-size: 15px;
}

/* TEXT */
.maskot-text {
    font-family: 'Work Sans', sans-serif;
    color: #555;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 30px;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
    .maskot-content {
        flex-direction: column;
        text-align: center;
    }

    .maskot-image img {
        width: 220px;
    }
    .maskot-text img {
        width: 220px;
    }
}
/* ================= MASKOT CARD ================= */
.ig-card {
    max-width: 1100px;
    margin: auto;
    border: 3px solid #FFCB65;
    border-radius: 20px;
    padding: 40px;
}

.ig-title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #555;
}

.ig-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: -30px;
}

/* IMAGE */
.ig-image img {
    width: 450px;
    justify-content: center;
    /* transform: translateY(-15px); */
}
.ig-img2 img {
    width: 450px;
    /* justify-content: center; */
}

.ig-sub {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-top: -20px;
    margin-bottom: 40px;
}

.ig-desk {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin: -20px 60px 10px 60px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.7;
    font-size: 15px;
}


/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
    .ig-content {
        flex-direction: column;
        text-align: center;
    }

    .ig-image img {
        width: 80%;
    }
    .ig-img2 img {
        width: 80%;
        transform: translateY(-30px);
    }

    .ig-title{
        font-size: 16px;
    }

    .ig-sub, 
    .ig-desk{
        font-size: 14px;
    }

    .ig-desk {
        text-align: center; 
        margin: -20px -30px 20px -30px;     
        line-height: 1.6;
    }

    .ig-title,
    .ig-sub {
        text-align: center;
    }

    .ig-card {
        padding-bottom: 20px;
        margin-top: -20px;
    }

    
    
}

/* POSTER SECTION */
.poster-section {
    padding: 40px;
    border: 3px solid #FFCB65;
    border-radius: 20px;
    max-width: 1100px;
    margin: auto;
    margin-top: -40px;
}

.poster-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
    color: #555;
}

.poster-sub {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-top: -20px;
    margin-bottom: 40px;
}

.poster-sub2 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    /* margin-top: -35px; */
    margin-bottom: -20px;
    display: none;
}

/* SLIDER */
.poster-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.poster-container {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.poster-container img {
    width: 190px;
    height: 280px;
    flex-shrink: 0;
}

/* ARROWS */
.poster-arrow {
    color: #226D4D;
    border: none;
    width: 55px;
    font-size: 26px;
    cursor: pointer;
}

.poster-arrow.left {
    margin-right: 10px;
    display: none; /* awalnya disembunyikan */
}


.poster-arrow.right {
    margin-left: 10px;   
}

/* VIDEO SECTION */
.video-section {
    padding: 50px;
    border: 3px solid #FFCB65;
    border-radius: 24px;
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
}

/* WRAPPER KIRI KANAN */
.video-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* VIDEO GRID (KIRI) */
.video-grid {
    display: flex;
    gap: 30px;
    margin-left: 50px;
}

.video-card {
    width: 200px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.video-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

.video-card img {
    width: 100%;
    border-radius: 14px;
}

/* TEXT KANAN */
.video-text {
    position: relative;
    /* max-width: 300px; */
    margin-right: 100px;
    margin-bottom: 80px;
}

.video-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 5px;
    color: #555;
}

.video-sub {
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-bottom: 18px;
}

.video-desc {
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    line-height: 1.6;
}

/* PETIR */
.video-petir {
    position: absolute;
    bottom: -80px;
    right: -90px;
    width: 70px;
}

/* PRODUCT SECTION */
.product-section {
    position: relative;
    padding: 50px 40px;
    border: 3px solid #FFCB65;
    border-radius: 24px;
    max-width: 1100px;
    margin: 60px auto;
    background: #FAF8F1;
    overflow: hidden;
}

/* TITLE */
.product-title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: -20px;
    color: #555;
}

.product-sub {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-top: -8px;
    margin-bottom: 40px;
}

/* ROW */
.product-row {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}

/* TEXT */
.product-text {
    flex: 1;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}

.product-heading {
    font-weight: 700;
    margin-bottom: 10px;
    color: #555;
}

.product-row .product-text p{
    max-width: 500px;
}

/* IMAGES */
.product-images {
    display: flex;
    align-items: center;
}

.pack-img {
    width: 350px;

}

.card-img {
    width: 350px;
}

/* TODO */
.todo-wrapper {
    text-align: center;
}

.todo-img {
    width: 90%;
    margin-bottom: 20px;
}
.todo-img2 {
    width: 90%;
    margin-bottom: 20px;
    display: none;
}

.todo-desc {
    font-family: 'Work Sans', sans-serif;
    max-width: 700px;
    margin: auto;
    color: #333;
    line-height: 1.6;
}

/* STARS (DECOR, LAYER BAWAH) */
.star {
    position: absolute;
    width: 22px;
    z-index: 0;
    pointer-events: none;
}

.star-1 { top: 160px; left: 50%; }
.star-2 { top: 460px; left: 45%; width: 50px;}
.star-3 { top: 620px; left: 52%; }

/* PASTIKAN KONTEN DI ATAS */
.product-section *:not(.star) {
    position: relative;
    z-index: 2;
}



/* CONTACT BUTTON */
.contact-btn {
    background-color: #FFCB65;
    padding: 10px 22px;
    border-radius: 40px;
    color: #226D4D;
    font-family: 'Work Sans', sans-serif;
    transition: 0.2s;
    text-decoration: none;
    font-size: 15px;
}

.contact-btn:hover {
    background-color: #ecbb5f;
    font-weight: 600;
}

#contact {
    background: #F4F3EA;
    padding: 70px 0;
}

.contact-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.contact-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
}

.contact-title span {
    font-weight: 700;
}

.contact-left p {
    font-family: 'Work Sans';
    color: #555;
    margin-bottom: 20px;
}

.contact-icons img {
    width: 30px;
    margin-right: 12px;
}

.footer {
    text-align: center;
    padding: 20px 16px 30px;
    background: #F4F3EA;
}

.footer-line {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 16px;
}

.footer-text {
    font-size: 13px;
    color: #555;
    font-family: 'Work Sans', sans-serif;
}

/* ===== MOBILE NAV MENU ===== */
.mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: #226D4D;
    width: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 9999;

    /* ANIMASI SETUP */
    max-height: 0;
    overflow: hidden;
    transform: translateY(-12px);

    transition:
        max-height 0.45s ease,
        transform 0.45s ease;

    pointer-events: none;
}

.mobile-menu a {
    padding: 18px;
    text-align: center;
    color: #FAF8F1;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.mobile-menu a:hover {
    background-color: #1c5a40;
}

.mobile-menu.show {
    max-height: 400px; /* cukup buat semua menu */
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* tampil hanya di HP */
@media (max-width: 700px) {
    .mobile-menu {
        display: flex;
    }

    .project-design {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -20px;
    }

    .project-title {
        font-size: 24px;
    }

    .maskot-card{
        height: 450px;
        margin-top: -30px;
    }

    .maskot-title{
        font-size: 16px;
    }

    .maskot-content img{
        width: 250px;
        margin-left: 10px;
    }

    .maskot-text{
        font-size: 14px;
        margin-top: -40px;
    }

    .poster-section{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -60px;
    }

    .poster-title{
        font-size: 16px;
        
    }

    .poster-sub{
        font-size: 14px;
    }

    .poster-sub2 {
        font-size: 14px;
        display: block;
        
    }

    .poster-sub2 i {
        animation: swipeHint 1.4s ease-in-out infinite;
    }

    .fa-solid {
        transform: translateY(1px);
    }
    
    .poster-container {
        margin-left: -20px;
        margin-right: -20px;
    }

    .poster-arrow {
        display: none;
    }

    /* MOBILE SWIPE SUPPORT */
    .poster-container {
        overflow-x: auto;              /* ganti dari hidden */
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    .poster-container img {
        scroll-snap-align: start;
    }

    .poster-container::-webkit-scrollbar {
        display: none;
    }

    .poster-container {
        scrollbar-width: none;
    }

    .video-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video-section{        
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -40px;
        margin-bottom: 20px;
        height: 300px;
    }

    .video-text {
        order: -1;
        text-align: center;
        margin-top: -40px;
        transform: translateX(50px);
    }

    /* JUDUL */
    .video-title {
        font-size: 16px;
        white-space: nowrap;
    }

    /* SUBTITLE */
    .video-sub {
        font-size: 14px;
        margin-top: 6px;
        margin-bottom: 20px;
    }

    /* DESKRIPSI */
    .video-desc {
        font-size: 14px;
    }

    .video-petir{
        display: none;
    }

    .video-grid {
        width: 350px;
        gap: 10px;
        transform: translateX(-25px);
        margin-top: -110px;
    }

    .video-card{
        margin-top: -20px;
    }

    /* SECTION */
    .product-section {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
        height: 1280px;
    }

    /* TITLE */
    .product-title {
        font-size: 18px;
    }

    .product-sub {
        font-size: 14px;
        margin-bottom: 30px;
    }

    /* ROW JADI VERTICAL */
    .product-row {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: -20px;
    }

    .product-text{
        transform: translateY(-20px);
    }

    /* GAMBAR */
    .product-images {
        gap: 60px;
        transform: translateY(-30px);
        margin-bottom: 30px;
    }
    
    .pack-img{
        transform: translateX(30px);
        width: 190px;
    }
    
    .card-img{
        transform: translateX(-35px);
        width: 160px;
    }


    /* TEKS */
    

    .product-heading {
        font-size: 16px;
        /* margin-bottom: 10px; */
    }

    .product-text p {
        font-size: 14px;
        line-height: 1.6;
        transform: translateY(-10px);
    }

    /* TO DO */
    .todo-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-20px);
        gap: 20px;
    }

    .todo-img {
        display: none;
    }

    .todo-img2 {
        display: block;
        width: 250px;
        order: 1;
        transform: translateY(-20px);
    }

    .todo-desc {
        max-width: 320px;
        font-size: 14px;
        line-height: 1.6;
        transform: translateY(-20px);
    }

    /* HIDE STAR DI MOBILE (BIAR BERSIH) */
    .star {
        display: none;
    }

    #contact{
        height: 70px;
        padding-top: 50px;
        padding-bottom: 90px;
    }

    /* SEMBUNYIKAN FORM & OUTPUT */
    .contact-right,
    #outputBox {
        display: none;
    }

    /* CONTAINER NORMAL */
    .contact-container {
        justify-content: flex-start;
        height: 50%;

    }

    /* CONTACT ME DI KIRI */
    .contact-left {
        text-align: left;
        width: 100%;
        margin-left: 50px;
        margin-top: -35px;
    }

    .contact-title{
        font-size: 20px;
    }

    .contact-left p{
        font-size: 12px;
    }

    .contact-icons {
        justify-content: flex-start;
    }

    .footer {
        margin-top: -60px;
        height: 30px;
    }
}


/* ===================================================== */
/* WEB */
/* ===================================================== */

.project-web {
    padding: 120px 0 80px;
    background-color: #FAF8F1;
}

/* ===============================
   WEB SLIDER SECTION
================================ */
.web-slider {
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
    margin-top: -130px;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* ===============================
   CARD CONTAINER (SCROLL AREA)
================================ */
.card-container {
    display: flex;
    gap: 32px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 10px;

    /* hide scrollbar */
    scrollbar-width: none;
}
.card-container::-webkit-scrollbar {
    display: none;
}

/* ===============================
   WEB CARD
================================ */
.web-card {
    min-width: 320px;
    background: #f6f4ef;
    border-radius: 18px;
    padding: 18px;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 1px solid #e2e2e2;
}

.web-card:hover {
    background: #ffffff;
    transform: translateY(-4px);
}

/* image */
.web-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 16px;
}

/* title */
.web-card h3 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 6px;
}

/* description */
.web-card p {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

.card-swipe {
    display: none;
}

/* ===============================
   ARROW BUTTON
================================ */
.poster-arrow-web {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 36px;
    color: #226D4D;
    transition: opacity 0.3s ease;
}

.poster-arrow-web.left {
    left: -48px;
}

.poster-arrow-web.right {
    right: -48px;
}

.poster-arrow-web:hover {
    opacity: 0.7;
}

/* default hidden left arrow */
#prevPoster {
    display: none;
}

/* ===============================
   PROJECT DETAIL (HIDDEN)
================================ */
.project-detail {
    display: none;
    margin: 120px auto 0;
    max-width: 1180px;
    position: relative;
    z-index: 5;
    padding-bottom: 0px;
}

.project-detail.show {
    display: block;
}

.project-detail:has(.tab-panel.active[data-tab="db"]) {
    padding-bottom: 400px;
}


/* DECORATION */
.decoration-web{
    opacity: 40%;
    top: 200px;
    z-index: 1;
    pointer-events: none;
}

.decor-star {
    position: absolute;
    left: -40px;
    top: 100px;
    width: 60px;
}

.decor-star2 {
    position: absolute;
    margin-top: 450px;
    top: 500px;
    width: 40px;
}
.decor-star3 {
    position: absolute;
    left: 400px;
    top: 400px;
    width: 30px;
}
.decor-star4 {
    position: absolute;
    left: 200px;
    top: 700px;
    width: 30px;
}

.decor-star5 {
    position: absolute;
    margin-right: -200px;
    left: 1000px;
    top: 1200px;
    width: 20px;
}

.decor-lightning {
    position: absolute;
    right: -900px;
    bottom: 70px;
    width: 70px;
}
.decor-lightning2 {
    position: absolute;
    /* right: -900px; */
    /* bottom: 70px; */
    width: 50px;
    top: 1500px;
    transform: scaleX(-1);
}

/* CONTENT */
.detail-container {
    margin-top: -120px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.detail-left {
    max-width: 50%;
}

.detail-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #333;
}

.detail-subtitle {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.detail-desc {
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    line-height: 1.8;
    color: #555;
}

.play-game-wrapper {
    margin-top: 20px;
    display: flex;
}

.play-game-btn {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;

    padding: 10px 20px;
    border-radius: 10px;

    background-color: #226D4D;
    color: #f6f4ef;

    text-decoration: none;
    border: 2px solid #226D4D;

    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease;
}
    
.play-game-btn:hover {
    font-weight: 600;
    background-color: #f1c26a; 
    color: #226D4D;
    transform: translateY(-2px);
}

.detail-right {
    text-align: right;
    margin-top: 120px;
}

.tech-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 12px;
}

.tech-stack {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.tech-stack img {
    width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}

/* BUTTON GROUP */

.detail-wrapped {
    display: flex;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid #ecbb5f;
    background: transparent;
    margin: 40px auto;
    justify-content: center;
    width: fit-content;
}

.detail-actions {
    display: flex;
    gap: 5px;
}

.detail-btn {
    padding: 12px 20px;
    border-radius: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    background: transparent;
    border: 2px solid #bababa;
    color: #bababa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.detail-game {
    padding: 12px 28px;
    border-radius: 999px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    background: #226D4D;
    border: 2px solid #ecbb5f;
    color: #fff;
    transition: all 0.3s ease;
}

.detail-btn.active,
.detail-btn:hover {
    background: #226D4D;
    color: #fff;
    border: 2px solid #ecbb5f;
    font-weight: 500;
}

.project-detail:not(:has(.tab-panel[data-tab="admin"]))
.detail-btn[data-tab="admin"],
.project-detail:not(:has(.tab-panel[data-tab="db"]))
.detail-btn[data-tab="db"] {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}


.web-card.active-card {
    background: #fff;
    /* box-shadow: 0 20px 50px rgba(0,0,0,0.12); */
}

/* ===============================
   UI ITEM GRID LAYOUT (FIX BENER)
================================ */
.ui-item {
    position: relative;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

/* title */
.ui-item h3 {
    max-width: 420px;
    margin-bottom: 12px;
    color: #333;
    font-weight: 550;
}

/* description */
.ui-item p {
    font-size: 15px;
    line-height: 1.8;
    max-width: 420px;
    color: #555;
}

/* image right side */
.ui-item img {
    position: relative;
    /* margin-top: -50px; */
    right: 0;
    width: 520px;
    border-radius: 18px;
    box-shadow: 0 18px 40px rgba(0,0,0,0.08);
    border: 1px solid #226D4D;
}

.ui-item .img-db {
    /* max-width: 100%; */
    width: 70%;
    height: auto;
    display: block;
}

.tab-panel {
    display: none;
    overflow: visible; 
    height: auto;        
}

.tab-panel.active {
    display: block;
}

#tab-db {
    width: 100%;
    max-width: 100%;
}

.tab-content,
.tab-panel {
    height: auto;
    max-height: none;
    overflow: visible;
}

.tab-content {
    overflow: visible !important;
    height: auto !important;
}

.tab-panel {
    overflow: visible !important;
    height: auto !important;
}

.tab-panel[data-tab="db"] {
    margin-bottom: 80px;
}



@media (max-width: 700px) {
    .decoration-web{
        display: none;
    }
    .project-web{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -20px;
    }

    .project-header {
        display: flex;              
        flex-direction: column;     
        align-items: flex-start;    
        margin-top: -10px; 
        margin-left: 10px;               
    }

    .desk-header {
        font-size: 14px;
        text-align: left;           
        max-width: 100%;
        font-size: 14px;
        line-height: 1.5;
        margin-top: -10px;
    }
    .desk-header span {
        font-weight: 550;
        color: #226D4D;
    }

    .card-container {
        gap: 10px;
    }

    .web-card {
        min-width: 200px;
        height: 240px;
    }

    .web-card img{
        height: 120px;
    }

    .web-card h3 {
        margin: 0;
        font-size: 16px;
    }
    .web-card p { 
        font-size: 14px;
    }

    .card-swipe {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        margin-top: -8px;
        font-size: 14px;
        font-family: 'Work Sans', sans-serif;
        color: #666;

        opacity: 0.9;
        pointer-events: none; 
    }

    .card-swipe i {
        font-size: 16px;
        animation: swipeHint 1.4s ease-in-out infinite;
    }

    @keyframes swipeHint {
        0% {
            transform: translateX(0);
            opacity: 0.4;
        }
        50% {
            transform: translateX(6px);
            opacity: 1;
        }
        100% {
            transform: translateX(0);
            opacity: 0.4;
        }
    }

    /* description */
    .detail-container {
        margin-top: -90px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;     
        align-items: flex-start;
        /* justify-content: space-between; */
        gap: 80px;
    }

    .detail-left {
        max-width: 100%;
    }

    .detail-title {
        font-size: 20px;
    }

    .detail-subtitle {
        font-size: 14px;
        line-height: 1.5;
    }

    .detail-desc {
        font-size: 14px;
        line-height: 1.5;
    }

    .detail-right {
        text-align: left;
        margin-top: -80px;
    }
    
    .tech-title {
        font-size: 14px;
        font-weight: 500;
    }

    .tech-stack {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
    }

    .tech-stack img {
        max-width: 50px;
        width: 100%;
        height: 50px;
        padding: 0px;
    }


    .detail-actions {
        display: flex;
        gap: 3px;
    }

    .detail-btn {
        font-size: 12px;
        padding: 10px;
        
    }

    .detail-game {
        font-size: 12px;
        padding: 10px;
    }

    .tab-content{
        margin: -40px 20px 70px 20px;
    }

    .ui-item {
        display: flex;
        flex-direction: column;   
        align-items: flex-start;
        position: relative;
        margin-top: 60px;
        margin-bottom: -40px;
    }

    /* title */
    .ui-item h3 {
        max-width: 420px;
        font-weight: 500;
        font-size: 16px;
    }

    /* description */
    .ui-item p {
        font-size: 14px;
        line-height: 1.5;
        max-width: 420px;
        color: #555;
    }

    .ui-item img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 18px;
        box-shadow: 0 18px 40px rgba(0,0,0,0.08);
        border: 1px solid #226D4D;
    }

    .ui-item .img-db {
        width: 100%;
        height: auto;
        display: block;
    }

    .play-game-wrapper{
        /* margin-top: -2px; */
        margin-bottom: 10px;
    }

    .play-game-btn {
        padding: 10px 14px;
        font-size: 12px;
    }


}