html, body {
    overflow-x: hidden;
}

/* ============= BURGER MENU STYLE ============= */
.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #FAF8F1;
}

/* ============= RESPONSIVE ============= */
@media(max-width: 900px) {

    /* Sembunyikan nav desktopp */
    .nav-links,
    .contact-btn {
        display: none !important;
    }

    /* Tampilkan burger */
    .burger {
        display: block !important;
    }

    /* Rapikan logo + burger */
    .navbar {
        justify-content: space-between;
        padding: 18px 25px;
    }

    /* geser slide menu ke kanan (aktif) */
    /* .side-menu.show {
        right: 0;
    } */

    /* card jadi column */
    .other-grid {
        flex-direction: column;
        align-items: center;
    }

    /* profile jadi vertical */
    .profile-container {
        flex-direction: column;
        text-align: center;
    }

    /* timeline ke tengah */
    .timeline {
        margin-left: 0 !important;
        width: 95%;
    }

    /* highlighted project jadi vertical */
    .highlighted-row.all-three {
        flex-direction: column;
    }
}

/* .side-menu {
    z-index: 99999;
} */

body {
    margin: 0;
    /* padding-top: 18px; */
    background-color: #FAF8F1;
    font-family: 'Work Sans', sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    background-color: #226D4D;
    padding: 18px 0;
    width: 100%;
    display: flex;
    z-index: 999999
}

.navbar-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #FAF8F1;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #FAF8F1;
    font-family: 'Work Sans', sans-serif;
    transition: 0.2s;
}

.nav-links a:hover {
    font-weight: 600;
}

/* ================= PROJECT DESIGN ================= */
.project-design {
    padding: 120px 0 80px;
    background-color: #FAF8F1;
}

.project-title {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 36px;
    color: #226D4D;
    margin-bottom: 50px;
}

.project-title span {
    font-weight: 700;
}

/* ================= MASKOT CARD ================= */
.maskot-card {
    max-width: 1100px;
    margin: auto;
    border: 3px solid #FFCB65;
    border-radius: 20px;
    padding: 40px;
}

.maskot-title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #333;
}

.maskot-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: -15px;
}

/* IMAGE */
.maskot-image img {
    width: 450px;
}

/* TEXT */
.maskot-text {
    font-family: 'Work Sans', sans-serif;
    color: #555;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 30px;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
    .maskot-content {
        flex-direction: column;
        text-align: center;
    }

    .maskot-image img {
        width: 220px;
    }
}

/* POSTER SECTION */
.poster-section {
    padding: 40px;
    border: 3px solid #FFCB65;
    border-radius: 20px;
    max-width: 1100px;
    margin: auto;
    margin-top: -40px;
}

.poster-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: -10px;
}

.poster-sub {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-top: -20px;
    margin-bottom: 40px;
}

/* SLIDER */
.poster-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.poster-container {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.poster-container img {
    width: 190px;
    height: 280px;
    flex-shrink: 0;
}

/* ARROWS */
.poster-arrow {
    background: #226D4D;
    color: white;
    border: none;
    width: 55px;
    border-radius: 50%;
    font-size: 26px;
    cursor: pointer;
}

.poster-arrow.left {
    margin-right: 10px;
    display: none; /* awalnya disembunyikan */
}


.poster-arrow.right {
    margin-left: 10px;   
}

/* VIDEO SECTION */
.video-section {
    padding: 50px;
    border: 3px solid #FFCB65;
    border-radius: 24px;
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
}

/* WRAPPER KIRI KANAN */
.video-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* VIDEO GRID (KIRI) */
.video-grid {
    display: flex;
    gap: 30px;
    margin-left: 50px;
}

.video-card {
    width: 200px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.video-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

.video-card img {
    width: 100%;
    border-radius: 14px;
}

/* TEXT KANAN */
.video-text {
    position: relative;
    /* max-width: 300px; */
    margin-right: 100px;
    margin-bottom: 80px;
}

.video-title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 5px;
}

.video-sub {
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-bottom: 18px;
}

.video-desc {
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    line-height: 1.6;
}

/* PETIR */
.video-petir {
    position: absolute;
    bottom: -80px;
    right: -90px;
    width: 70px;
}

/* PRODUCT SECTION */
.product-section {
    position: relative;
    padding: 50px 40px;
    border: 3px solid #FFCB65;
    border-radius: 24px;
    max-width: 1100px;
    margin: 60px auto;
    background: #FAF8F1;
    overflow: hidden;
}

/* TITLE */
.product-title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: -20px;
}

.product-sub {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
    margin-top: -8px;
    margin-bottom: 40px;
}

/* ROW */
.product-row {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 70px;
}

/* TEXT */
.product-text {
    flex: 1;
    font-family: 'Work Sans', sans-serif;
    color: #333;
    line-height: 1.6;
}

.product-heading {
    font-weight: 700;
    margin-bottom: 10px;
}

.product-row .product-text p{
    max-width: 500px;
}

/* IMAGES */
.product-images {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pack-img {
    width: 200px;
    margin-right: 60px;
}

.card-img {
    width: 300px;
}

/* TODO */
.todo-wrapper {
    text-align: center;
}

.todo-img {
    width: 90%;
    margin-bottom: 20px;
}

.todo-desc {
    font-family: 'Work Sans', sans-serif;
    max-width: 700px;
    margin: auto;
    color: #333;
    line-height: 1.6;
}

/* STARS (DECOR, LAYER BAWAH) */
.star {
    position: absolute;
    width: 22px;
    z-index: 0;
    pointer-events: none;
}

.star-1 { top: 160px; left: 50%; }
.star-2 { top: 460px; left: 45%; width: 50px;}
.star-3 { top: 620px; left: 52%; }

/* PASTIKAN KONTEN DI ATAS */
.product-section *:not(.star) {
    position: relative;
    z-index: 2;
}



/* CONTACT BUTTON */
.contact-btn {
    background-color: #FFCB65;
    padding: 10px 22px;
    border-radius: 40px;
    color: #226D4D;
    font-family: 'Work Sans', sans-serif;
    transition: 0.2s;
    text-decoration: none;
    font-size: 15px;
}

.contact-btn:hover {
    background-color: #ecbb5f;
    font-weight: 600;
}

#contact {
    background: #F4F3EA;
    padding: 70px 0;
}

.contact-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
}

.contact-title span {
    font-weight: 700;
}

.contact-left p {
    font-family: 'Work Sans';
    color: #555;
    margin-bottom: 20px;
}

.contact-icons img {
    width: 30px;
    margin-right: 12px;
}

/* FORM */
#msgForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}

#msgForm input,
#msgForm textarea {
    border: 1px solid #888;
    padding: 6px;
    border-radius: 4px;
    font-family: 'Work Sans';
}

#submitBtn {
    margin-top: 10px;
    padding: 8px;
    background: #F7B733;
    border: 1px solid #333;
    cursor: pointer;
}

/* OUTPUT BOX */
#outputBox {
    width: 350px;
    height: 240px;
    border: 1px solid #aaa;
    margin-top: 20px;
    background: white;
    padding: 10px;
    font-family: 'Work Sans';
    white-space: pre-line;
}

/* ===== MOBILE NAV MENU ===== */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #226D4D;
    width: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 9999;
}

.mobile-menu a {
    padding: 18px;
    text-align: center;
    color: #FAF8F1;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.mobile-menu a:hover {
    background-color: #1c5a40;
}

/* tampil hanya di HP */
@media (max-width: 900px) {
    .mobile-menu.show {
        display: flex;
    }
}

